$color-orange: hsl(31, 77%, 52%);
$color-blue-light: hsl(184, 100%, 22%);
$color-blue-dark: hsl(179, 100%, 13%);

body {
  text-align: center;
  margin: 5em 2em;
}

main {
  font-size: 0;
}

.card {
  font-size: 1rem;
  display: inline-block;
  width: 15rem;
  padding: 5rem 1rem;
  text-align: left;

  &--left {
    background-color: $color-orange;
  }

  &--middle {
    background-color: $color-blue-light;
  }

  &--right {
    background-color: $color-blue-dark;
  }

  &__title {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", cursive;
  }

  &__description {
    color: hsla(0, 0%, 100%, 0.75);
    padding-bottom: 3rem;
    font-family: "Lexend Deca", sans-serif;
  }
}

footer {
  margin-top: 10vh;
  font-family: "Lexend Deca", sans-serif;

  .links {
    text-decoration: none;
    color: $color-blue-light;
  }
}
